/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        config_layout {
            bindings = <&mo 4>;
            key-positions = <37 40>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            display-name = "Base";
            bindings = <
&kp ESCAPE  &kp A       &kp Z           &kp E         &kp R        &kp T        &kp Y      &mt U U      &kp I          &kp O            &kp P            &kp BACKSPACE
&kp TAB     &mt LGUI Q  &mt LEFT_ALT S  &mt LSHIFT D  &mt LCTRL F  &kp G        &kp H      &mt RCTRL J  &mt RSHFT K    &mt RIGHT_ALT L  &mt RGUI M       &kp DELETE
&none       &kp W       &kp X           &mt C C       &kp V        &kp B        &kp N      &kp COMMA    &kp SEMICOLON  &kp COLON        &kp EXCLAMATION  &kp ASTERISK
                                        &kp LGUI      &mo 1        &kp ENTER    &kp SPACE  &mo 2        &kp RALT
            >;
        };

        lower_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "Lower";
            bindings = <
&kp ESCAPE        &kp A  &kp  &kp E     &kp  &kp          &kp MINUS  &kp N7  &kp N8    &kp N9  &kp SLASH     &kp BACKSPACE
&kp LEFT_SHIFT    &kp    &kp  &kp       &kp  &kp          &kp PLUS   &kp N4  &kp N5    &kp N6  &kp ASTERISK  &kp HOME
&kp LEFT_CONTROL  &kp    &kp  &kp       &kp  &kp          &kp N0     &kp N1  &kp N2    &kp N3  &kp COMMA     &kp END
                              &kp LGUI  &kp  &kp ENTER    &kp SPACE  &kp     &kp RALT
            >;
        };

        raise_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "Raise";
            bindings = <
&kp ESCAPE        &kp AMPERSAND  &kp HASH  &kp E     &kp SINGLE_QUOTE      &kp DOUBLE_QUOTES        &kp MINUS         &kp UNDERSCORE     &kp PIPE       &kp AT_SIGN  &kp EQUAL  &kp LC(BACKSPACE)
&kp LEFT_SHIFT    &kp TILDE      &trans    &trans    &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS    &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp BACKSLASH  &kp UP       &trans     &kp LC(DEL)
&kp LEFT_CONTROL  &trans         &trans    &trans    &kp LESS_THAN         &kp GREATER_THAN         &kp LEFT_BRACE    &kp RIGHT_BRACE    &kp LEFT       &kp DOWN     &kp RIGHT  &trans
                                           &kp LGUI  &trans                &trans                   &trans            &trans             &kp RALT
            >;
        };

        macro1 {
            bindings = <
&none  &none  &none  &none  &mt LC(X) LC(C)  &kp LC(V)    &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none            &none        &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none            &none        &none  &none  &none  &none  &none  &none
                     &none  &none            &kp ENTER    &none  &none  &none
            >;
        };

        config_layer {
            bindings = <
&kp ESCAPE      &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &none  &none  &none  &none  &none  &none
&bt BT_CLR      &none         &none         &none         &none         &none           &none  &none  &none  &none  &none  &none
&bt BT_CLR_ALL  &none         &none         &none         &none         &none           &none  &none  &none  &none  &none  &none
                                            &none         &none         &none           &none  &none  &none
            >;
        };
    };
};
